<html>
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
  <div class="container">
    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading" class="detail">Sound<span class="name">Off</span></h1>
          <hr>
          <h3>Revolutionizing the discovery of music.</h3>
          <a href="#about" class="btn btn-primary btn-xl page-scroll">Login</a>
          <a href="#about" class="btn btn-primary btn-xl page-scroll">Join</a>
        </div>
      </div>
    </header>
  </div>
</body>
</html>