<html>
<%= stylesheet_link_tag 'discovery' %>
<div class="container">
  <div class="jumbotron">
    <div class="header-button home-button">
      <i onclick="" class="fa fa-3x fa-home" aria-hidden="true"></i>
    </div>
    <div class="header-button user">
      <i class="fa fa-3x fa-user" aria-hidden="true"></i>
    </div>
    <div class="text-center">
      <h1 class="animate bounce">Discover</h1>
      <h3>New Music. Unheard Talent.</h3>
    </div>
  </div>
  <div class="center" id="song_info">
    <div class="animated slideInRight discovery_main">
      <div class="music-display">
        <div class="image-wrapper">
          <img id="song_art" src=<%= @img %> >
        </div>
      </div>

      <div class="controls">
        <h1 id="song_title"><%= @song.title %></h1>
        <h3 id="song_artist"><%= @song.artist %></h3>
      </div>
    </div>
  </div>
  <footer class="container-fluid soundOffFooter">
    <div class="text-center">
      <p>All Rights Reserved - Copyright SoundOff Inc. &copy; 2017 </p>
    </div>
  </footer>
</div>
</html>
<script>

  $(document).ready(function(){
      window.addEventListener('keypress', myEventHandler, false);
  });

  function myEventHandler(e){
    var keyCode = e.keyCode;
    if(keyCode == 39) {
      $.ajax({
          url: "/discovery/next",
          type: 'POST',
          dataType: 'script'
      });
    }
  }

</script>