<div class="container">
    <div class="jumbotron">
        <div class="header-button home-button">
            <i onclick="" class="fa fa-3x fa-home" aria-hidden="true"></i>
        </div>
        <div class="header-button user">
            <i class="fa fa-3x fa-user" aria-hidden="true"></i>
        </div>
        <div class="text-center">
            <h1>Discover</h1>
            <h3>New Music. Unheard Talent.</h3>
        </div>
    </div>
    <div class="center">
        <div class="discovery_main">
            <div class="music-display">
                <div class="image-wrapper">
                    <img src="{{current_song.album_path}}">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75"
                             aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        </div>
                    </div>
                </div>
                <div *ngIf="show_play_status">
                    <div *ngIf="playing" class="play-icon">
                        <i class="fa fa-4x fa-play" aria-hidden="true"></i>
                    </div>
                    <div *ngIf="!playing" class="play-icon">
                        <i class="fa fa-5x fa-pause" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="controls">
                <h1>{{current_song.title}}</h1>
                <h3>{{current_song.artist_name}}</h3>
                <p>{{current_song.music_path}}</p>
                <p>{{current_song.album_path}}</p>
            </div>
        </div>
    </div>
    <footer class="container-fluid soundOffFooter">
        <div class="text-center">
            <p>All Rights Reserved - Copyright SoundOff Inc. &copy; 2017 </p>
        </div>
    </footer>
</div>